@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
padding: 0;
margin: 0;
font-family: "Oswald", sans-serif;

}
body{
background-color: blue;
}
.login{
display: flex;
flex-direction: column;
align-items: center;
background-color: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0, 0,0.5);


}
h1{
color: aqua;
margin: 8px;

.name,.email,.link{
    text-transform: uppercase;
    margin: 10px;
    font-size: 1.2em;
    color: #333;
}

}
.name{
color: red;
display: flex;
text-transform: uppercase;
margin: 2px;
}
.email{
    text-transform: uppercase;
    margin: 2px;
color: rgb(0, 4, 255);

}
.password{
    text-transform: uppercase;
    margin: 2px;
color: rgb(0, 0, 0);
padding:25px 10px 7.5 10px ;
border: none;
outline: none;
}
.link{
color: white;
padding: 10px;
background-color: rgb(255, 255, 255);
outline: none;
border: none;
cursor: pointer;
border-radius: 3px;
}
.submit:hover{
    color: rgb(89, 0, 255);
    background: greenyellow;
    transition: 0s;
}
.animation {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    animation: moveText 2s infinite;
  }
  
  @keyframes moveText {
    0% {
      transform: translateX(6);
    }
    50% {
      transform: translateX(50px);
    }
    100% {
      transform: translateX(9);
    }
  